<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FTP_File_Transfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FTP_File_Transfer.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS2008;Initial Catalog=UAT;Integrated Security=True;" />
    </connectionStrings>
    <applicationSettings>
        <FTP_File_Transfer.Properties.Settings>
            <setting name="SMTP_Server" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>xxxxxxxx</value>
            </setting>
            <setting name="PendingTimeLimit" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="installationPath" serializeAs="String">
                <value>C:\Scheduler\FTP_File</value>
            </setting>
            <setting name="EmailBodySchedulerError" serializeAs="String">
                <value>This is the FTP Log on {0:dd/MM/yyyy HH:mm:ss}.&lt;br/&gt;&lt;br/&gt;Errors occurred. &lt;br/&gt; Please refer to attached log file for details.</value>
            </setting>
            <setting name="SupportEmailTo" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="EmailSendingTimeLimit" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DestHostName" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="DestUserName" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="DestPassword" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="DestSshHostKeyFingerprint" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="SourceTimeLimit" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="SourcePath" serializeAs="String">
                <value>C:\Scheduler\FTP_File\Source</value>
            </setting>
            <setting name="EmailSubjectSuccess" serializeAs="String">
                <value>FTP File Transfer - Success</value>
            </setting>
            <setting name="EmailSubjectError" serializeAs="String">
                <value>FTP File Transfer - Errors occurred</value>
            </setting>
            <setting name="DestPort" serializeAs="String">
                <value>7522</value>
            </setting>
            <setting name="DestPathFTP" serializeAs="String">
                <value>/DEV/In</value>
            </setting>
            <setting name="EmailBodySuccess" serializeAs="String">
                <value>This is the FTP Monitor Log on {0:dd/MM/yyyy HH:mm:ss}.</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>C:\Scheduler\FTP_File\Backup</value>
            </setting>
            <setting name="LogTable" serializeAs="String">
                <value>FTP_FileTransferLog</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>FTP File Transfer</value>
            </setting>
            <setting name="DestPath" serializeAs="String">
                <value>C:\Scheduler\FTP_File\Destination</value>
            </setting>
            <setting name="SourceHostName" serializeAs="String">
                <value>xxxxxx</value>
            </setting>
            <setting name="SourceUserName" serializeAs="String">
                <value>xxxxxxxx</value>
            </setting>
            <setting name="SourcePassword" serializeAs="String">
                <value>xxxxxxx</value>
            </setting>
            <setting name="SourceSshHostKeyFingerprint" serializeAs="String">
                <value>xxxxxxxxxx</value>
            </setting>
            <setting name="SourcePort" serializeAs="String">
                <value>7522</value>
            </setting>
            <setting name="SourcePathFTP" serializeAs="String">
                <value>/DEV/In/TEST</value>
            </setting>
            <setting name="FTPTransferTempPath" serializeAs="String">
                <value>C:\Scheduler\FTP_File\Temp</value>
            </setting>
            <setting name="sendSuccessEmail" serializeAs="String">
                <value>Y</value>
            </setting>
        </FTP_File_Transfer.Properties.Settings>
        <ERP_FTP_File_Transfer.Properties.Settings>
            <setting name="SMTP_Server" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>xxxxxxxx</value>
            </setting>
            <setting name="PendingTimeLimit" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="installationPath" serializeAs="String">
                <value>C:\Scheduler\FTP_File</value>
            </setting>
            <setting name="EmailBodySchedulerError" serializeAs="String">
                <value>This is the FTP Log on {0:dd/MM/yyyy HH:mm:ss}.&lt;br/&gt;&lt;br/&gt;Errors occurred. &lt;br/&gt; Please refer to attached log file for details.</value>
            </setting>
            <setting name="SupportEmailTo" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="EmailSendingTimeLimit" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="DestHostName" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="DestUserName" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="DestPassword" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="DestSshHostKeyFingerprint" serializeAs="String">
                <value>xxxxxxxxx</value>
            </setting>
            <setting name="SourceTimeLimit" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="SourcePath" serializeAs="String">
                <value>C:\Scheduler\FTP_File\Source</value>
            </setting>
            <setting name="EmailSubjectSuccess" serializeAs="String">
                <value>FTP File Transfer - Success</value>
            </setting>
            <setting name="EmailSubjectError" serializeAs="String">
                <value>FTP File Transfer - Errors occurred</value>
            </setting>
            <setting name="DestPort" serializeAs="String">
                <value>7522</value>
            </setting>
            <setting name="DestPathFTP" serializeAs="String">
                <value>/DEV/In</value>
            </setting>
            <setting name="EmailBodySuccess" serializeAs="String">
                <value>This is the FTP Monitor Log on {0:dd/MM/yyyy HH:mm:ss}.</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>C:\Scheduler\FTP_File\Backup</value>
            </setting>
            <setting name="LogTable" serializeAs="String">
                <value>FTP_FileTransferLog</value>
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value>FTP File Transfer</value>
            </setting>
            <setting name="DestPath" serializeAs="String">
                <value>C:\Scheduler\FTP_File\Destination</value>
            </setting>
            <setting name="SourceHostName" serializeAs="String">
                <value>xxxxxx</value>
            </setting>
            <setting name="SourceUserName" serializeAs="String">
                <value>xxxxxxxx</value>
            </setting>
            <setting name="SourcePassword" serializeAs="String">
                <value>xxxxxxx</value>
            </setting>
            <setting name="SourceSshHostKeyFingerprint" serializeAs="String">
                <value>xxxxxxxxxx</value>
            </setting>
            <setting name="SourcePort" serializeAs="String">
                <value>7522</value>
            </setting>
            <setting name="SourcePathFTP" serializeAs="String">
                <value>/DEV/In/TEST</value>
            </setting>
            <setting name="FTPTransferTempPath" serializeAs="String">
                <value>C:\Scheduler\FTP_File\Temp</value>
            </setting>
            <setting name="sendSuccessEmail" serializeAs="String">
                <value>Y</value>
            </setting>
        </ERP_FTP_File_Transfer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
